{% extends '@App/layout.html.twig' %}

    {% block content %}
        <div class="row my-3">
            <div class="col col-xl-6 offset-xl-3">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn btn-light" href="{{ path('contacts_list') }}">Back to list</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col col-xl-6 offset-xl-3">
                {% if contact is null %}
                    <h2>Unfortunately this contact could not be found</h2>
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-auto">
                                    <h3 class="card-title h5 my-0"><em class="fa fa-id-card me-1"></em> {{ contact.displayName() }}</h3>
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-auto">
                                        <a type="button" href="{{ path('contact_add') }}" class="btn btn-primary btn--create"><em class="fa fa-plus me-2"></em>Create new contact</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                        <div class="row">
                            {% if contact.picture is not empty %}
                            <div class="form-group mb-3 col-12">
                                <div class="form-label text-muted">Picture</div>
                                <img src="{{ asset('uploads/profile-images/' ~ contact.picture) }}" width="150" height="150" class="img-fluid img-thumbnail">
                            </div>
                            {% endif %}
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">First name</div>
                                {{ contact.firstname }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Last name</div>
                                {{ contact.lastname }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Street and number</div>
                                {{ contact.streetAndNumber }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">ZIP</div>
                                {{ contact.zip }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">City</div>
                                {{ contact.city }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Country</div>
                                {{ contact.country }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Phone number</div>
                                {{ contact.phonenumber }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Birthday</div>
                                {{ contact.birthday|date("d/m/Y") }}
                            </div>
                            <div class="form-group mb-3 col-6">
                                <div class="form-label text-muted">Email</div>
                                {{ contact.email }}
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="form-group">
                                <div class="form-label">Actions</div>
                                    <a class="btn btn-primary btn--action" title="Edit contact" href="{{ path('contact_edit', { 'id' : contact.id }) }}"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-danger btn--action" title="Delete contact" href="{{ path('contact_remove', { 'id' : contact.id }) }}"><em class="fa fa-trash"></em></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                            <table class="table table-striped table-bordered table-list d-none">
                                <tbody>
                                    <tr>
                                        <td>Street and number</td>
                                        <td>{{ contact.streetAndNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>ZIP</td>
                                        <td>{{ contact.zip }}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>{{ contact.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Country</td>
                                        <td>{{ contact.country }}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone number</td>
                                        <td>{{ contact.phonenumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday</td>
                                        <td>{{ contact.birthday|date("d/m/Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{ contact.email }}</td>
                                    </tr>
                                    {% if contact.picture is not empty %}
                                        <tr>
                                            <td>Picture</td>
                                            <td><img src="{{ asset('uploads/profile-images/' ~ contact.picture) }}" width="150" height="150" class="img-fluid"></td>
                                        </tr>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <tr>
                                        <td>Actions</td>
                                        <td>
                                            <a class="btn btn-primary btn--action" href="{{ path('contact_edit', { 'id' : contact.id }) }}"><em class="fa fa-pencil"></em></a>
                                            <a class="btn btn-danger btn--action" href="{{ path('contact_remove', { 'id' : contact.id }) }}"><em class="fa fa-trash"></em></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col col-xl-6 offset-xl-3">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="btn btn-light" href="{{ path('contacts_list') }}">Back to list</a>
                    </li>
                </ul>
            </div>
        </div>

    {% endblock %}